<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suda.platform.mapper.StockUserChargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suda.platform.entity.StockUserCharge">
        <id column="id" property="id" />
        <result column="swift_no" property="swiftNo" />
        <result column="stock_user_id" property="stockUserId" />
        <result column="stock_code" property="stockCode" />
        <result column="fee" property="fee" />
        <result column="withdraw_status" property="withdrawStatus" />
        <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="timestamp" property="timestamp" />
        <result column="tran_id" property="tranId" />
        <result column="pay_type" property="payType" />
        <result column="agent_user_id" property="agentUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, swift_no, stock_user_id, stock_code, fee, withdraw_status, create_time, is_deleted, timestamp, tran_id, pay_type, agent_user_id
    </sql>
    <select id="getAdminStockUserCoinCharges"
            parameterType="com.suda.platform.VO.finance.StockUserChargeVO"
            resultType="com.suda.platform.VO.finance.StockUserChargeVO">
       select * from ( select
        succ.id, succ.swift_no, succ.stock_user_id, succ.fee, succ.withdraw_status,
        succ.create_time, succ.is_deleted, succ.timestamp, succ.tran_id, succ.pay_type, succ.agent_user_id,
        sucf.card_num as stock_code,
        su.nickname ,su.username ,su.user_uid,su.tel
        from stock_user_charge succ
        left join stock_user su on su.id = succ.stock_user_id
        left join stock_user_capital_fund sucf on sucf.stock_user_id = su.id and su.user_type=2
        )as chargs

        <where>
            <if test="stockCode !=null and stockCode !=''">
                and chargs.stock_code = #{stockCode}
            </if>
            <if test="id !=null">
                and chargs.id = #{id}
            </if>
            <if test="agentUserId !=null">
                and chargs.agent_user_id = #{agentUserId}
            </if>
            <if test="stockUserId !=null">
                and chargs.stock_user_id=#{stockUserId}
            </if>
            <if test="tel !='' and tel !=null">
                and chargs.tel=#{tel}
            </if>
            <if test=" userUid !=null and userUid !=''">
                and   chargs.user_uid=#{userUid}
            </if>
            <if test=" username !=null and username !=''">
                and   chargs.username=#{username}
            </if>
            <if test=" nickname !=null and nickname !=''">
                and   chargs.nickname=#{nickname}
            </if>
            <if test="startDate != null and endDate != null">
                AND (chargs.create_time BETWEEN #{startDate} and #{endDate})
            </if>
            <if test=" agentUserId !=null">
                and   chargs.agent_user_id=#{agentUserId}
            </if>
        </where>
        order  by chargs.id desc
    </select>

</mapper>
