<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suda.platform.mapper.ChargingStationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suda.platform.entity.ChargingStations">
        <id column="id" property="id" />
        <result column=" longitude" property=" longitude" />
        <result column="dimensionality" property="dimensionality" />
        <result column="station_name" property="stationName" />
        <result column="station_details" property="stationDetails" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="address" property="address" />
        <result column="price" property="price" />
        <result column="parking_fee_details" property="parkingFeeDetails" />
        <result column="have_parking_fee" property="haveParkingFee" />
        <result column="open_start_time" property="openStartTime" />
        <result column="open_end_time" property="openEndTime" />
        <result column="cover_img" property="coverImg" />
        <result column="banner_img" property="bannerImg" />
        <result column="has_a_gun_status" property="hasAGunStatus" />
        <result column="create_time" property="createTime" />
        <result column="timestamp" property="timestamp" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_disable" property="isDisable" />
        <result column="use_status" property="useStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,  longitude, dimensionality, station_name, station_details, province, city, county, address, price, parking_fee_details, have_parking_fee, open_start_time, open_end_time, cover_img, banner_img, has_a_gun_status, create_time, timestamp, is_deleted, is_disable, use_status
    </sql>
    <!--app查询位置充电站-->
    <select id="selectAppChargingStations"
            parameterType="com.suda.platform.VO.chargeStation.ChargingStationSelAppVO"
            resultType="com.suda.platform.VO.chargeStation.ChargingStationsAppVO">
      select * from( select *,
        ifnull((select count(id) from charging_pile_info cpi where cpi.charging_stations_id = charging_stations.id
        and cpi.ac_dc=1 and cpi.off_line_is=0),0) as ac_online_num,
        ifnull((select count(id) from charging_pile_info cpi where cpi.charging_stations_id = charging_stations.id
        and cpi.ac_dc=1 and cpi.off_line_is=1),0) as ac_offline_num,
        ifnull((select count(id) from charging_pile_info cpi where cpi.charging_stations_id = charging_stations.id
        and cpi.ac_dc=1),0) as ac_num,
        ifnull((select count(id) from charging_pile_info cpi where cpi.charging_stations_id = charging_stations.id
        and cpi.ac_dc=2 and cpi.off_line_is=0),0) as dc_online_num,
        ifnull((select count(id) from charging_pile_info cpi where cpi.charging_stations_id = charging_stations.id
        and cpi.ac_dc=2 and cpi.off_line_is=1),0) as dc_offline_num,
        ifnull((select count(id) from charging_pile_info cpi where cpi.charging_stations_id = charging_stations.id
        and cpi.ac_dc=2),0) as dc_num
        <if test="longitude !=null and dimensionality !=null">
            ,(
            6378.137 * ACOS(
            COS(RADIANS(#{dimensionality})) * COS(RADIANS(dimensionality)) * COS(
            RADIANS(longitude) - RADIANS(#{longitude})
            ) + SIN(RADIANS(#{dimensionality})) * SIN(RADIANS(dimensionality))
            )
            ) AS distance
        </if>
        from charging_stations) as chargingStation
        <where>
        is_deleted=0
          <if test="stationName !=null and stationName !=''">
              and (chargingStation.station_name like '${stationName}%'
              or chargingStation.station_details like '${stationName}%')
          </if>
          <if test="province !=null and province !=''">
              and chargingStation.province like '${province}%'
          </if>
            <if test="city !=null and city !=''">
                and chargingStation.city like '${city}%'
            </if>
            <if test="county !=null and county !=''">
                and chargingStation.county like '${county}%'
            </if>
            <if test="haveParkingFee !=null">
                and chargingStation.have_parking_fee = #{haveParkingFee}
            </if>
            <if test="openStartTime !=null and openEndTime !=null">
                and (chargingStation.open_start_time &gt;#{openStartTime} and chargingStation.open_end_time &lt;#{openEndTime})
            </if>
            <if test="hasAGunStatus !=null">
                and chargingStation.has_a_gun_status = #{hasAGunStatus}
            </if>
            <if test="longitude !=null and dimensionality !=null">
                <if test="startDistance !=null and endDistance !=null">
                    and (chargingStation.distance&gt;= #{startDistance} and chargingStation.distance&lt;= #{endDistance} )
                </if>
            </if>
            <if test="chargingStationsIds!=null and chargingStationsIds!=''">
                and chargingStation.id in (${chargingStationsIds})
            </if>
            <if test="id !=null">
                and chargingStation.id = #{id}
            </if>
        </where>
        <if test="longitude !=null and dimensionality !=null">
            order by chargingStation.distance asc
        </if>

    </select>
    <!--充电站统计-->
    <select id="selectStationsCount"
            parameterType="com.suda.platform.VO.chargeStation.ChargingStationsCountVO"
            resultType="com.suda.platform.VO.chargeStation.ChargingStationsCountVO">
        select cs.id,cs.station_name,
        (select count(id) from charging_pile_info cpi where cpi.charging_stations_id=cs.id
        and date(cpi.create_time)=date(now())) as stationDayOrder,

        (select count(id) from charging_pile_info cpi where cpi.charging_stations_id=cs.id
        and  DATE_FORMAT( create_time, '%Y%m' ) = DATE_FORMAT( CURDATE() , '%Y%m' )) as stationMonthOrder
        from charging_stations cs
        <where>
            <if test="id!=null">
                and cs.id =#{id}
            </if>
            <if test="stationName">
                and cs.station_name like '${stationName}%'
            </if>
        </where>
        order by id desc
    </select>

</mapper>
