<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suda.platform.mapper.StockUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, username, user_uid, tel, email, pswd, trade_pwd, device_no, create_time, last_login_time,  head_url
    </sql>
    <update id="updateInviAndAccountByStockUserId">
        update stock_user set invitation_code=#{invitationCode},user_uid=#{userUid} where id=#{id}
    </update>
    <update id="rewNewPwd">
        update stock_user set pswd=#{pswd} where tel=#{tel}
    </update>

    <!--后台查询所有用户-->
    <select id="selectAllStockUser" resultType="com.suda.platform.VO.stockuser.StockUserVO">
        select stock_user.*,
       ifnull((select sum(charge_total_money) from  charging_record  cr where
        cr.stock_user_id=stock_user.id and cr.payment_status=1),0) as charge_total_money,
        ifnull((select sum(charge_num) from  charging_record  cr where
        cr.stock_user_id=stock_user.id and cr.payment_status=1),0) as charge_num,
        ifnull((select count(id) from  charging_record  cr where
        cr.stock_user_id=stock_user.id and cr.payment_status=1),0) as charge_count
        from stock_user
        <where>
            <if test="tel !='' and tel !=null">
              and  tel=#{tel}
            </if>
            <if test="email !='' and email !=null">
              and  email=#{email}
            </if>
            <if test=" userUid !=null">
              and   user_uid=#{userUid}
            </if>
            <if test=" id !=null">
              and  id=#{id}
            </if>
            <if test="userType!=null">
              and  user_type = #{userType}
            </if>
        </where>
            order by id desc
    </select>

    <!--IC  卡 用户查询-->
    <select id="selectIcAllStockUser"
            resultType="com.suda.platform.VO.stockuser.StockUserIcVO">
       select * from ( select stock_user.id,stock_user.user_uid, stock_user.create_time,stock_user.agent_user_id,
        stock_user.user_type,
        agent_user.account as agent_account , agent_user.username as agent_username,

        stock_user_capital_fund.usable_fund ,stock_user_capital_fund.card_num,
        ifnull((select sum(charge_total_money) from  charging_record  cr where
        cr.stock_user_id=stock_user.id and cr.payment_status=1),0) as charge_total_money,
        ifnull((select sum(charge_num) from  charging_record  cr where
        cr.stock_user_id=stock_user.id and cr.payment_status=1),0) as charge_num,
        ifnull((select count(id) from  charging_record  cr where
        cr.stock_user_id=stock_user.id and cr.payment_status=1),0) as charge_count
        from stock_user
        left join agent_user  on agent_user.id=stock_user.agent_user_id
        left join stock_user_capital_fund on stock_user_capital_fund.stock_user_id=stock_user.id
        and stock_user_capital_fund.stock_code = 'ICCARD') as users
        <where>
            <if test=" userUid !=null">
                and   users.user_uid=#{userUid}
            </if>
            <if test="agentUserId!=null">
                and  users.agent_user_id = #{agentUserId}
            </if>
            <if test=" id !=null">
                and  users.id=#{id}
            </if>
            <if test="userType!=null">
                and  users.user_type = #{userType}
            </if>
            <if test="agentAccount!=null">
                and  users.agent_account like '${agentAccount}%'
            </if>
            <if test="agentUsername!=null">
                and  users.agent_username like '${agentUsername}%'
            </if>
            <if test="cardNum!=null">
                and  users.card_num like '${cardNum}%'
            </if>
        </where>
        order by users.id desc
    </select>

    <!--查询app登录账号信息-->
    <select id="selectByAccount" resultType="com.suda.platform.VO.stockuser.StockUserLoginVO">
        select
        *
        from stock_user
        <where>
            is_deleted = 0
            <if test="account != null">
                and (user_uid = #{account,jdbcType=VARCHAR} or tel = #{account,jdbcType=VARCHAR} or email =
                #{account,jdbcType=VARCHAR})
            </if>
        </where>
    </select>

    <!--用户注册保存 -->

    <insert id="insertSelectiveDullUnion" parameterType="com.suda.platform.entity.StockUser" useGeneratedKeys="true"
            keyProperty="id">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into stock_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                nickname,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="pswd != null">
                pswd,
            </if>

            <if test="deviceNo != null">
                device_no,
            </if>
            <if test="createTime != null">
                create_time,
            </if>

            <if test="email != null">
                email,
            </if>
            <if test="openId != null">
                open_id,
            </if>

        </trim>
        select
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=CHAR},
            </if>
            <if test="pswd != null">
                #{pswd,jdbcType=CHAR},
            </if>

            <if test="deviceNo != null">
                #{deviceNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>

            <if test="email != null">
                #{email},
            </if>
            <if test="openId != null">
                #{openId},
            </if>

        </trim>
        from dual
        <where>
            <if test="(tel !=''and tel !=null) or(email !='' and email !=null) or (openId !='' and openId !=null)">
                not EXISTS(select * from stock_user where
                <if test="tel !=null and tel !=''">
                   tel =#{tel})
                </if>
                <if test="email !=null and email !=''">
                     email
                    =#{email} )
                </if>
                <if test="openId !=null and openId !=''">
                    open_id=#{openId})
                </if>
            </if>
        </where>

    </insert>


</mapper>
