<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suda.platform.mapper.StockUserCapitalFundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suda.platform.entity.StockUserCapitalFund">
        <id column="id" property="id" />
        <result column="stock_user_id" property="stockUserId" />
        <result column="stock_code" property="stockCode" />
        <result column="usable_fund" property="usableFund" />
        <result column="in_all_fee" property="inAllFee" />
        <result column="create_time" property="createTime" />
        <result column="timestamp" property="timestamp" />
    </resultMap>
    <update id="updateRechargeByCodeId">
      UPDATE stock_user_capital_fund
        SET usable_fund =
        TRUNCATE(usable_fund +
                 #{money} , 8)
        WHERE stock_user_id = #{stockUserId} AND stock_code = #{stockCode}
            and TRUNCATE(usable_fund +
                 #{money} , 8)>=0

    </update>
    <!--根据记录id 更新资产-->
    <update id="updateRechargeById">
        UPDATE stock_user_capital_fund
        SET usable_fund =
        TRUNCATE(usable_fund +
                 #{money} , 8)
        WHERE stock_user_id = #{id}
            and TRUNCATE(usable_fund +
                 #{money} , 8)>=0

    </update>

</mapper>
